{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

	<meta charset="UTF-8">
	<title>Info</title>
</head>


<body>
	<div class="container" style="margin-top: 5%">
		<button class="btn btn-warning btn-sm" id="light" style="color: white">Light</button>
		<button class="btn btn-warning btn-sm" id="dark" style="color: white">Dark</button>

		<div class="outline" align="center">
			<div class="title">
				<h1><strong>SELAMAT DATANG</strong></h1>
			</div>
			<h3>Sedikit tentangku :D</h3>
			<div id="accordion">
			  <h4>Aktivitas Saat Ini</h4>
			  <div>
			    <p>Sedang sibuk mengerjakan tugas yang terus berdatangan...</p>
			  </div>
			  <h4>Pengalaman Organisasi</h4>
			  <div>
			    <p>Semester 1 pernah ikut SBF Depor, untuk sekarang ini belum ikut kepanitiaan atau organisasi lagi</p>
			  </div>
			  <h4>Prestasi</h4>
			  <div>
			    <p>Menjadi Kontingen OLIM CSUI cabang Tenis Meja tahun 2018 dan 2019</p>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>