h1 {
	font-size: 7vh;
}

p {
	font-size: 3vh;
}

.outline {
	border: 1.5px solid black;
	border-radius: 25px;
	border-top-left-radius: 0;
	padding: 35px;
}

.title {
	display: inline-block;
	background: #ff5e5e;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
	margin-bottom: 30px;
}

/*.ui-accordion-header.ui-state-active {
	border: #123456;
	background: #123456	;
}*/